<% content_for :title, "Log in" %>

<h1>Log in</h1>

<%= form_with url: sessions_path  do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "Log in", class: "mt-8" %>
<% end %>

<div class="mt-4">
  Need to create an account?
  <%= link_to "Sign up", signup_path %>
</div>
