<tr id="<%= dom_id bounty %>">
  <td><%= bounty.title %></td>
  <td><%= number_to_currency(bounty.amount) %></td>
  <td><%= bounty.user_email %></td>
  <td><%= bounty.postal_code %></td>
  <td><%= link_to "details", bounty %></td>
</tr>
