<%= form_with(model: bounty) do |f| %>
  <%= render "shared/errors", errors: bounty.errors %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :amount %>

  <div class="flex">
    <div class="py-2 px-4 bg-gray-300 font-bold border border-r-0">$</div>
    <%= f.text_field :amount %>
  </div>

  <%= f.label :postal_code %>
  <%= f.text_field :postal_code %>

  <div class="mt-8 md:flex md:items-center md:gap-1">
    <%= f.submit "Save" %>

    <div class="mt-4 md:m-0 shrink-0">
      or <%= link_to "cancel", bounty.new_record? ? bounties_path : bounty %>
    </div>
  </div>
<% end %>
