<%= form_with(model: bounty, class: "max-w-fit") do |f| %>
  <%= render "shared/errors", errors: bounty.errors %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :amount %>
  <%= f.text_field :amount %>

  <div class="flex items-center gap-1">
    <%= f.submit "Save" %>
    or
    <%= link_to "cancel", bounties_path %>
  </div>
<% end %>
