<h1>Bounty posted by <%= @bounty.user_first_name %> in <%= @bounty.postal_code %></h1>

<dl class="mt-4">
  <dt>Title</dt>
  <dd><%= @bounty.title %></dd>

  <dt>Amount</dt>
  <dd><%= number_to_currency(@bounty.amount) %></dd>
</dl>

<div class="mt-4 flex items-center gap-1">
  <%= link_to "Browse all", bounties_path %>
  <% if permission(@bounty).allowed?(action_name: :edit) %>
    | <%= link_to "Edit", edit_bounty_path(@bounty) %> |
    <%= link_to "Delete", @bounty, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  <% end %>
</div>
