<h1>Bounty posted by <%= @bounty.user_email %></h1>

<dl class="mt-4">
  <dt>Title</dt>
  <dd><%= @bounty.title %></dd>

  <dt>Amount</dt>
  <dd><%= number_to_currency(@bounty.amount) %></dd>
</dl>

<div class="mt-4 flex items-center gap-1">
  <%= link_to "edit", edit_bounty_path(@bounty) %> |
  <%= link_to "delete", @bounty, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
</div>
