<header
  class="
    px-4
    py-2
    bg-gray-500
    text-white
    flex
    justify-between
    items-center
    [&_a]:text-white
  "
>
  <h1><%= link_to "Bounty Hunter", root_path %></h1>

  <div>
    <% if current_user %>
      <%= link_to current_user.full_name, edit_user_path(current_user) %> |
      <%= link_to "Log out", logout_path %>
    <% else %>
      <%= link_to "Log in", login_path %> |
      <%= link_to "Sign up", signup_path %>
    <% end %>
  </div>
</header>

