<header
  class="
    px-4
    py-2
    bg-gray-500
    text-white
    flex
    justify-between
    items-center
    [&_a]:text-white
  "
>
  <div class="flex items-center">
    <h1><%= link_to "Bounty Hunter", root_path %></h1>

    <% if current_user %>
      <nav class="ml-32 flex items-center gap-16">
        <%= link_to "Browse", bounties_path %>
        <%= link_to "Post", new_bounty_path %>
      </nav>
    <% end %>
  </div>

  <div>
    <% if current_user %>
      <%= link_to current_user.name, edit_user_path(current_user) %> |
      <%= link_to "Log out", logout_path %>
    <% else %>
      <%= link_to "Log in", login_path %> |
      <%= link_to "Sign up", signup_path %>
    <% end %>
  </div>
</header>

